<% if @current_user%>
  <h3> Search Results </h3>
<% else %>
  <h3> Please Login  </h3>
<%end%>
<% @notes.each do |note|%>
  <% if note.user == @current_user%>
    <h5><%= link_to note.title, note %></h2>
    <h6><%= note.content%></h1>
  <%end%>
<%end%>
